<!DOCTYPE html>
<html lang="zh">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>大连科技学院学生选课系统</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        @Styles.Render("~/Content/css")
        @Styles.Render("~/css")
        @Styles.Render("~/bundles/bootstrap/css")
    </head>
<body>

    <div class="navbar navbar-default navbar-fixed-top" >
        <div class="container">
          
                <div class="navbar-header navbar-brand">

                    <div class="navbar-btn"><p class="fa fa-user">大连科技学院学生选课系统</p></div>
                </div>

            
        </div>
    </div>

    <div class="container">
        <div style="min-height:400px" >
            @RenderBody()
        </div>
        <hr />
        <footer class="text-center panel-footer">
            <p>&copy; @DateTime.Now.Year 大连科技学院教务处版权所有 开发者：<a href="mailto:mybest13@163.com">徐国旭</a></p>
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap/js")


</body>

</html>
